<section>
    {{>admin-new}}
</section>
<section>
    <div class="container " style="height: 100% ; width:100%">
        <div class="row  mt-5">
            <div class="col-md-12 col-lg-4 text-center login  bg-info mx-auto ">
                <h5>ADD A NEW CATEGORY</h5>
                <form class="" method="post" onsubmit="return validateCateg()" name="AddCateg" id="AddCateg">
                    <div class="mt-3">
                        <label for="category" class="form-label me-3 text-dark">MAIN-CATEGORY </label>
                        <select id="subcat" name="main" class="form-control bg-light">
                            <option value="Plants" disabled>Choose one</option>
                            <option value="Plants">Plants</option>
                            <option value="Plants">Pots</option>
                        </select>
                    </div>
                    <label for="fname" class="form-label  h6">SUB-CATEGORY</label><br>
                          <span class="text-danger bg-light fw-bold h6" id="submsg"></span>
                    <input type="text" class="form-control" id="sub" name="sub">
              
                    <button  type="submit" class="btn  text-white mt-1"
                        style="background-color:rgb(47, 70, 33) ;">Add Now </button>
                </form>
            </div>
        </div>
    </div>
</section>