<section>
    {{>admin-new}}
</section>


<section>
    <div class="container " style="height: 100% ; width:100%">
        <div class="row  mt-5" >
            <div class="col-md-4"></div>

            <div class="col-md-4 text-center login  bg-info">
                <h5>ADD A NEW CATEGORY</h5>
                <form class="" action="" method="post">


               
                         <div class="mt-3">
            <label for="category" class="form-label me-3 text-dark">MAIN-CATEGORY </label>
            <select id="subcat" name="main" class="form-control bg-light">
                   <option value="Plants" disabled>Choose one</option>
              <option value="Plants">Plants</option>
                 <option value="Plants">Pots</option>
            </select>
          </div>



                      <label for="fname" class="form-label  h6">SUB-CATEGORY</label>
                    <input type="text" class="form-control" id="" name="sub">
                        <button href="" type="submit" class="btn  text-white mt-1"style="background-color:rgb(47, 70, 33) ;">Add Now </button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</section>