
<section>
    {{>admin-new}}
</section>

<section>
    <div class="container   " style="height: 100% ; width:100%">
        <div class="row  p-5" >
           

            <div class="col-md-12  col-lg-6 mx-auto  my-auto  text-center login ">
                <h5>ADD  CATEGORY OFFER</h5>
                        <h6>This will apply to all products under this category</h6>

                <form class="" action="/admin/add-category-offer" method="post">
                            <label for=""> Enter Discount %</label>
                         <input type="number" name="categoryOffer" class="form-control"  placeholder="Enter Percentage">
                        <button href="" type="submit" class="btn  text-white mt-1"style="background-color:rgb(47, 70, 33) ;">Apply Now</button>
                </form>
            </div>
           
        </div>

    </div>
</section>