
<section class="">
    <header class="">

<nav class="navbar navbar-expand-lg navbar-dark ">

  <div class="container-fluid">
    
    <a class="navbar-brand" href="/admin"><img src="/images/NEWLOGO.jpg" style="height:4rem; width:3.5rem"></a>  <a href="/admin"><h6 class="mx-1 fw-bold" style=" font-family: 'Raleway', sans-serif;"><i class="bi bi-house-door-fill" style="font-size:2.1rem;"></i></h6></a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>
<button class="btn btn-white text-dark btn-sm  ms-3" id="back"><i class="bi bi-arrow-left-square" style="font-size: 2rem;"></i></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0 ">

        <li class="nav-item">
      
           
        <input class="form-control ms-5" type="text" placeholder="Search" aria-label="Search" style="width: 30vw;" id="search" onkeyup="searchAll()">
      
        
        </li>
    </ul>
    


   

 <ul class="navbar-nav ">

   <span class="fs-5 text-dark  fw-bold mt-2 ms-3 " > <a class="nav-link" href="/admin/logout"><i class="bi bi-power btn btn-danger  text-white  fw-bold" ></i></a></span>

      </ul>
    
    </div>
  </div>
</nav>

    </header>
    
</section>