<section>
    <div class="container" >


       
        <div class="row mt-4"  style="background-color: rgb(90, 90, 105);">

<div class="col-md-4" ></div>

<div class="col-md-3 login  mt-4" style="height: 20rem;">
 
<form class="text-center text-white " method="post"  action="">
      

   <div class="text-danger text-center fw-bold bg-light">{{otpmessage}}</div> 

    <label for="mobile" class="form-label">Enter your Registered mobile Number</label>

    <input type="number" class="form-control" id="number"  name="number">
  
       <button href="" type="submit" class="btn text-white mt-1" style="background-color:rgb(47, 70, 33) ;">Get OTP</button>


</form>
   
  </div>

</div>
<div class="col-md-3" style="background-color: rgb(218, 218, 233);"></div>

     
    </div>
</section>