<section>
    <div class="container">
        <div class="row" >
<div class="  col-md-12 mx-auto  col-lg-4  login mt-5">
<form class="text-center text-dark" name="loginform" id="loginform" method="post"  action="/login">
       <h3 class="mt-3">LOGIN</h3>
  <div class="mt-3">
   <div class="text-danger text-center fw-bold bg-light">{{message}}</div> 
    <label for="exampleInputEmail1" class="form-label">Enter your E-mail/mobile NUmber</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
   
  </div>
  <div class="mb-4 mt-4">
    <label for="exampleInputPassword1" class="form-label"> Enter your Password</label>
    <input type="password" class="form-control" id="password" name="password">
    <a href="/forgot-password" style="text-decoration: none;">  <h5 class="h6 text-center"> Change/Forgot password?</h5></a>
  </div>
  <div class="text-success text-center fw-bold bg-light">{{changePassword}}</div> 
  <button  onsubmit="return validate()"  type="submit" class="btn text-white " style="background-color:rgb(47, 70, 33) ; ">Submit</button>
  <h5 class="mt-2">or</h5>
    <a href="/otplogin" type="submit" class="btn text-white mt-1 btn-sm" style="background-color:rgb(172, 86, 5) ;">Get OTP</a>
<a class="fw-bold " href="/signup" style="text-decoration: none;" >
      <h6 class="mt-5 text-dark fw-bold">New here? Create Your Account Now</h6>
</a>
</form>
</div>
        </div>
    </div>
</section>
<script>
function validate(){
  var email=document.getElementById('email').value
  var password=document.getElementById('password').value
if(email==null){
document.loginform.email.focus();
return false
}

if(password==null){
document.loginform.password.focus();
return false
}

return true;

}


</script>