<section>

  <div class="container">
    <div class="row mt-5 h-75">
      <div class="col-md-4"></div>
      <div class="col-md-4 border rounded-3 h-100 p-3 bg-info">

        <div class="">
          <img src="/images/orderplaced.jpg" class="img-fluid" alt="" />
        </div>
        <h3 class="text-center">Your order placed successfully</h3>
        <div class="text-center">
          <a href="/view-orders"><button class="btn btn-success btn-sm">View
              Orders</button></a>

        </div>
        <a href="/" style="text-decoration: none;">
          <h3 class="text-center fs-5 text-white my-3">Continue shopping...</h3>
        </a>

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>