<section>
    <div class="container" style="background-color: rgb(162, 130, 138);">


        <div class="row" style="background-color:rgb(104, 123, 92); height:10vh"></div>
        <div class="row" >

<div class="col-md-4"></div>

<div class="col-md-3 " style="height: 20rem;">
 
<form class="text-center text-white " method="post"  >
       <h3 class="mt-3"> OTP VERIFICATION</h3>

   <div class="text-danger text-center fw-bold bg-light">{{otpmessage}}</div> 

    <label for="otpcode" class="form-label">Enter your code</label>
    <input type="number" class="form-control" id="otpcode"  name="otpcode">
   


<button type="submit" class="btn text-white mt-1" style="background-color:rgb(47, 70, 33) ;">Submit</button>

</form>

  </div>

</div>
<div class="col-md-3"></div>

        </div>
    </div>
</section>