*{
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

body{
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  padding-left: 1%;

 
}

.offer{
  background-color: darkorange;
  padding: 1px;
  border: 1px;
}

.offer1{
  padding: 1px;
  border: 1px;
  color: red;
  background-color: aliceblue;

}

.report{
  padding: 1rem;
  color: red;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
}

.text{
  text-decoration: none;
}


.btn10{
  height: 1rem;
  width: 7rem;

}


.rupees{
  font-family: 'Times New Roman', Times, serif;
}




.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover .dropdown-toggle::after {
  border-bottom: 0.3em solid;
  border-top: 0;
}

.dropdown-toggle.show::after {
  border-top: 0;
  border-bottom: 0.3em solid;

}

.cardeffect {
  transition: transform 0.2s ease-out;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}

.cardeffect:hover {
  transform: scale(1.05);
}

.dropdown-toggle::after {
  content: none;
  color: transparent;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;

}

/* img:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url(/images/success.jpeg);

} */
a{
  text-decoration: none;
}